.data-hora {
    text-align: center;
}

#dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

.playwrite {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400; /* Replace with the desired weight */
    font-style: normal;
}
